
.statusBar ul, .statusBar ol, .statusBar  li {
    list-style:none;
	margin:0;
    padding:0;
}
.statusBar  img {
    border:none 0;
}   
.statusBar  .clear{clear:both;}

	.statusBar,.statusBar * {  
		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-o-box-sizing: content-box;
    }
    .statusBar {
        /*width: 800px;*/
        text-align: center;
    }
.statusBar.v{/**配置项*/
    height:600px;
}

    .statusBar li {
        float: left;
    } 

.statusBar.v .wrapper {
    height:100%;
    position:relative;
    padding-left:0;
}
.statusBar.v li{
    float:none;
}
    .statusBar .wrapper{
       overflow:auto;
       
       position:relative;
       padding-left:11px; 
       
    }

    .statusBar .barList, .statusBar .descriptionList {
        float:left;  
        width:100%;
    }
.statusBar.v .barList,
.statusBar.v .descriptionList {
    float:none;  
}
    .statusBar .barList {
        padding:5px 0;
    }
.statusBar.v  .barList{
    height:100%;
    padding:0 5px;
    width:12px;

    position:absolute;
}
.statusBar.v.right  .barList{
    right:0;
}
.statusBar.v  .descriptionList{
    width:auto;
    height:100%;
    margin-left:22px;
    margin-right:0;
}
/*垂直显示时，内容默认状态条右边**/
.statusBar.v.right  .descriptionList{
    margin-right:22px;
    margin-left:0;
}
    .statusBar  .descriptionList {
        margin:0 auto;
    }
    .statusBar .barList li {
        position: relative;
        height: 4px;
        background-color: #D7D7D7;
        padding:4px 0;
    }
.statusBar.v  .barList li {
   padding:0 4px;
   height:0;
}
.statusBar.v  .descriptionList li {
    display:table;
    margin:0 auto;
    vertical-align:middle;
}
    .statusBar .barList .innerBar {
        position:relative;
        z-index:2;
        width:100%;
        height:100%;
    }
    .statusBar .barList li.arrived .innerBar {
        background-color: #4BB304;
    }
    /*第一个节点的条不显示*/
    .statusBar .barList li.first,
    .statusBar .barList li.first .innerBar{
        background-color:transparent;       
    }
    .statusBar .barList .node {
        width: 14px;
        height: 14px;
        background: url(../images/status-node-default.png) no-repeat ;
        padding:4px;
        position:absolute;
        right:-11px;
        top:-5px;
        z-index:1;
    }

.statusBar.v .barList .node {
    
    top:100%;
    margin-top:-11px;
    left:-5px;
}
    .statusBar .barList .node div {
        width: 14px;
        height: 14px;
        background-image: none;
    }
    .statusBar .barList li.arrived .node div {
        width: 14px;
        height: 14px;
        background: url(../images/status-node-arrived.png) no-repeat;
    }

    .statusBar .descriptionList .contentWrapper {
        padding: 5px;
        text-align: center;
    }

.statusBar.v .descriptionList .contentWrapper {
    display:table-cell;
    vertical-align:middle;
    word-wrap:break-word;
    word-break:break-all;
}
    /*根据需要丰富不同状态节点效果*/
    .statusBar .descriptionList .name {
        font-size:14px;
        color:#157DFB;
    }
    .statusBar .descriptionList .content {
        font-size:12px;
        color:#999999;
    }
    .statusBar .descriptionList .arrived .name {

    }

    .statusBar .descriptionList .arrived .content {
    
    }
    .statusBar .descriptionList .current .name {
        color:#FF6600;
    }

    .statusBar .descriptionList .current .content {
    
    }