<!DOCTYPE html>
<html>
<head>
    <link href="./pc/css/TextBox.css" rel="stylesheet" type="text/css" />
    <link href="./pc/css/NumberBox.css" rel="stylesheet" type="text/css" />
    <link href="./pc/css/DateTimeBox.css" rel="stylesheet" type="text/css" />
    <link href="./pc/css/CheckBox.css" rel="stylesheet" type="text/css" />
    <link href="./pc/css/Refer.css" rel="Stylesheet" type="text/css" />
    <link href="./pc/css/DataGrid.css" rel="Stylesheet" type="text/css" />
    <link href="./pc/css/GridPager.css" rel="Stylesheet" type="text/css" />
    <script src="./jquery/jquery.event.drag-2.2.js" type="text/javascript"></script>
    <script src="./common/js/TextBox.js" type="text/javascript"></script>
    <script src="./common/js/NumberBox.js" type="text/javascript"></script>
    <script src="./common/js/DateTimeBox.js" type="text/javascript"></script>
    <script src="./common/js/CheckBox.js" type="text/javascript"></script>
    <script src="./common/js/Refer.js" type="text/javascript"></script>
    <script src="./pc/js/grid/GridVM.js" type="text/javascript"></script>
    <script src="./pc/js/grid/DataGrid.binding.js" type="text/javascript"></script>
    <script src="./pc/js/grid/Pager.js" type="text/javascript"></script>
    <script src="./pc/js/grid/DataGrid.js" type="text/javascript"></script>
    <script src="./pc/js/grid/DataGrid.editors.js" type="text/javascript"></script>
    <script src="./pc/js/grid/DataGrid.formatters.js" type="text/javascript"></script>
</head>
<body>
    <div data-propertyname="<#=?%s,field#>" data-controltype="DataGrid" class="grid col-lg-12"></div>
    <div class="pager col-lg-12"></div>
</body>
<script>
</script>
<field>
</field>
</html>