<!DOCTYPE html>
<html>
<head>
    <link href="./bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="./bootstrap/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="./bootstrap/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
    <script src="./common/js/DateTimeBox.js" type="text/javascript"></script>
</head>
<body>
    <label class="col-lg-4" title="<#=title#>"><#=title#></label>
    <div class="col-lg-8 p-0">
        <input data-propertyname="<#=?%s,field#>" data-controltype="DateTimeBox" />
    </div>
</body>
<script>
</script>
<field>
</field>
</html>