<!DOCTYPE html>
<html>
<head>
    <link href="./pc/css/modal.css" rel="stylesheet" type="text/css" />
    <script src="./common/js/Refer.js" type="text/javascript"></script>
</head>
<body>
    <label class="col-lg-4" title="<#=title#>"><#=title#></label>
    <div class="col-lg-8 p-0" data-propertyname="<#=?%s,field#>" data-controltype="Refer">
        <input type="text"  />
        <div>
            <img src="pc/images/Ref-close.png"/>
            <img src="pc/images/Ref.png" />
        </div>
    </div>
</body>
<script>
</script>
<field>
</field>
</html>