<!DOCTYPE html>
<html>
<head>
    <script src="./pc/js/attachmentList.js" type="text/javascript"></script>
</head>
<body>
    <div data-propertyname="<%=field%>" data-controltype="AttachmentList">
        <div>
            <div>
                <span class="tb-edit-icon"></span>
                <span style="cursor:pointer">添加附件</span>
            </div>
            <div>
                <span class="tb-edit-icon"></span>
                <span style="cursor:pointer">打包下载</span>
            </div>
        </div>
        <input type="file" multiple="multiple" style="display:none;" />
        <ul>
        </ul>
</div>
</body>
</html>