/*.navbar{
	background: #32a075;
	color: #FFFFFF;
}*/
.u-slide {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
}

    .u-slide img {
        /*width: 375px;*/
        height: 378px;
        max-width: 100%;
    }

.product-swiper.swiper-container-horizontal > .swiper-pagination {
    /*text-align: right;
	width: 38px;
	height: 38px;
	color: #FFFFFF;
	border-radius: 38px;
	background: #666;
	opacity: .36;
	right: 10px!important;
	left: 80%;*/
}

.details {
    text-align: center;
}

    .details img {
        max-width: 100%;
    }

.content-title {
    background: #fff;
    padding: 5px;
}

    .content-title .title {
        color: #222;
        font-size: 15px;
    }

    .content-title .item-inner:after {
        height: 0;
    }

    .content-title .prices {
        padding: 7px 0;
        font-weight: bold;
    }

.tab-content {
    margin-top: 15px;
    border-top: 1px solid #e1e1e1;
}

/*tab部分*/
.tabbar-u {
    padding: 0;
    height: 45px;
    background: #FFFFFF;
    position: relative;
}
.tabbar-u:after{
	content: '';
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #E5E5E5;
    display: block;
    z-index: 15;
}
html.pixel-ratio-2 .tabbar-u:after {
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
html.pixel-ratio-3 .tabbar-u:after {
	-webkit-transform: scaleY(0.33);
	transform: scaleY(0.33);
}
    .tabbar-u .button,
    .tabbar-u .button:first-child{
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        line-height: 45px;
        color: #666666;
        margin: 0 40px;
        padding-bottom: 2px;
        position: relative;
    }

        .tabbar-u .button.active {
            border: none;
            border-bottom: #06c1ae solid 2px;
            background: none;
            border-radius: 0;
            color: #06c1ae;
            padding-bottom: 2px;
        }
  

.tabbar-u + .tabs .list-block ul:before{
	height: 0;
}
.argument .item-title,
.argument .item-after {
    width: 50%;
    box-sizing: border-box;
    color: #666666;
    font-size: 15px;
}

.argument .item-title {
    white-space: normal;
    overflow: auto;
}

.argument .item-after {
    color: #222222;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    white-space: normal;
    display: inline-table;
}
 
    .empty-type {
    width: 100%;
    overflow: hidden;
    /*background: #EFEFEF;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
}

    .empty-type .icon {
        display: block;
        margin: 0 auto;
    }

    .empty-type p {
        text-align: center;
        font-size: 12px;
        color: #999999;
    }
.producttoolbar{
	background: #FFFFFF;
}

.totop {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    /*border: 1px solid #cccccc;*/
    color: #6f7375;
    position: fixed;
    right: 14px;
    bottom: 30px;
    background: url("../img/icon/totop.png") no-repeat center 0px;
    background-size: 38px 38px;
    /*opacity: .8;*/
    display:none;
    z-index: 29;
}

.producttoolbar .tab-link {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.content-block {
    margin: 10px 0px 50px;
    height: 100%;
}

    .content-block span {
        -ms-word-break: break-all;
        word-break: break-all;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis; /*兼容opera*/
        text-overflow: ellipsis; /*这就是省略号喽*/
        overflow: hidden; /*设置超过的隐藏*/
        white-space: normal !important;
    }

    .content-block img {
        max-width: 100%;
    }
    

