[data-page="searchPage"].page{
	background: #FFFFFF;
}
[data-page="searchPage"] .navbar form{
	line-height: 0;
	width: 100%;
}
i.icon-cancel {
    width: 20px;
    height: 20px;
    background: url(../img/sprites.png) no-repeat;
    background-position: -40px 0;
    background-size: 200px 200px;
}

.search-container .searchbar input[type="search"] {
    background: url("../img/icon/search-icon.png") no-repeat 10px center #e1e1e1;
    background-size: 15px 15px;
}

.search-container .searchbar .searchbar-clear {
    background: url("../img/icon/voice-icon.png") no-repeat 10px center;
    background-size: 15px 15px;
    opacity: 1;
}

.search-container .left {
    display: none;
}

.search-container .searchbar-cancel {
    font-size: 13px;
    color: #999999;
}


    .searchbar .searchbar-input input {
        /*background: #e1e1e1;*/
    }

        .searchbar .searchbar-input input::-webkit-input-placeholder {
            color: #959595;
            font-size: 14px;
        }

.content-title_search {
    /*border: 1px solid #E4E5E5;*/
    margin-bottom: auto;
    height: 35px;
    line-height: 35px;
    color: #666;
    font-size: 13px;
    vertical-align: middle;
}

    .content-title_search .link span {
        color: #666;
    }

i.icon-refresh {
    width: 16px;
    height: 16px;
    background: url(../img/icon-cw.png) no-repeat;
    background-size: 16px 16px;
    margin-top: -2px;
}

.searchpage {
    margin: 0 auto;
    min-height: 42px;
    position: relative;
    padding-bottom: 20px;
}
.searchpage:after{
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
	top: auto;
	right: auto;
	background: #e5e5e5;
}
.searchpage:last-child:after{
	height: 0;
}
html.pixel-ratio-2 .searchpage:after {
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
html.pixel-ratio-3 .searchpage:after {
	-webkit-transform: scaleY(0.33);
	transform: scaleY(0.33);
}

    .searchpage p {
        text-align: center;
        color: #666666;
        font-size: 14px;
        line-height: 42px;
    }

    .searchpage a {
        display: inline-block;
        border: 1px solid #cccccc;
        padding: 0 7px;
        border-radius: 4px;
        margin: 5px;
        margin-left: 0;
        margin-right: 10px;
        text-align: center;
        height: 27px;
        line-height: 27px;
        color: #333;
        font-size: 13px;
        white-space: nowrap;
    }
