.welcomescreen-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 10500;
    color: #666;
    font-size: 16px;
}

.welcomescreen-closebtn {
    top: 15px;
    right: 15px;
    position: absolute;
    text-align: center;
    z-index: 9998;
    font-size: 15px;
    border-radius: 58%;
    width: 40px;
    background: rgba(255,255,255,0.4);
    height: 40px;
    line-height: 40px;
}

.welcomescreen-swiper {
    position: relative;
    width: 100%;
    height: 100%;
}

.welcomescreen-picture {
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top center;
}

.welcomescreen-picture1 {
    background-image: url(../img/welcome/GuidePage01_1242_2208.png);
}

.welcomescreen-picture2 {
    background-image: url(../img/welcome/GuidePage02_1242_2208.png);
}

.welcomescreen-picture3 {
    background-image: url(../img/welcome/GuidePage03_1242_2208.png);
}

.welcomescreen-text {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

    .welcomescreen-text span {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100px;
        margin-bottom: -64px;
    }

.welcomescreen-content {
    padding: 15px;
}

.welcomescreen-container .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.9) !important;
}

.welcomescreen-container .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-container-horizontal > .welcomescreen-pagination {
    bottom: 20px;
    display: none;
}

html.with-statusbar-overlay .welcomescreen-container {
    top: 20px;
}
