.accondion { width: 100%; height: auto; float:left }
.accondion ul {list-style: none;padding:0px;margin:0px; }
.accondion li{list-style: none;}
.accondion li > div[level ="0"] { background-color:rgb(242,242,242);}
.accondion .header {height: 35px;  line-height: 34px; cursor: pointer;  }
.accondion .header:hover
.accondion .header > span {display: block;}
.accondion .header .txt {float: left; color: #000;}
.accondion .header .arrow {float: right; width: 35px; height: 35px; background: url(../images/arrow-r.png) no-repeat center center;}
/*.accondion li .arrow {float: right; width: 35px; height: 35px; background: url(../images/arrow-r.png) no-repeat center center;}*/

.accondion li[leaf="1"] {width: 100%; height: 35px; border-top: 1px solid rgb(215,215,215); line-height: 34px; cursor:pointer; overflow:hidden}
.accondion li[leaf="0"] {width: 100%; height: auto; overflow: hidden; border-top: 1px solid rgb(215,215,215); }

.accondion li[leaf="1"]:hover {background: #eee;}
.accondion li[leaf="1"].current {background: #777;}
.accondion li[leaf="0"].current {background: #fff;}
.accondion li.firstChild {border:0px;}

.accondion li ul {display: none; width: 100%; height: auto;}


/* .accondion .header.menu-show {background-color: rgb(242,242,242) }  */
.accondion .header.menu-show .arrow {background-image: url(../images/arrow-d.png);}
.accondion .more { height:30px;line-height:30px;text-align:center;background:#EFEFF4;cursor:pointer }

.accondion-wrapper {
    height: 100%;
    bottom:0px;
    overflow: hidden;
}

.accondion-wrapper > .accondion-scroller {
    overflow: hidden;
}

    
