.cube-main div[class='SearchBox']{
    height: 45px;
    border: 1px solid #E4E4E4;
    background: #E4E4E4;
    margin: 0 auto;
    box-sizing:border-box;
}

    .cube-main div[data-controltype='SearchBox'].cube-control-content {
        height: 30px;
        width: 98%;
        background: #FFF;
        line-height: 30px;
        border-radius: 4px;
        background-color: white;
        margin: 7px 0 5px 5px;
    }

    .cube-main div[data-controltype='SearchBox'] input {
        width: 95%;
        border: none;
        height: 29px;
    }
        .cube-main div[data-controltype='SearchBox'] input:focus {
        outline:none;
        }
    .cube-main div[data-controltype='SearchBox'] span {
        content:url(../images/control/search.png);
        width:16px;
        height:16px;
    }