body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    background-color: #efefef;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lucencyBar {
    background-color: transparent !important;
}

.navbar {
    background-color: transparent;
}

.no-after.navbar:after {
    height: 0;
}

.navbar-inner .left a .icon,
.navbar-inner .right a .icon {
    text-align: center;
    margin: 0 auto;
}

.navbar-inner .left a span,
.navbar-inner .right a span {
    display: block;
    font-size: 9px;
    color: #fff;
}

.input-group-addon {
    background-color: #fff;
    color: rgba(255, 255, 255, 0.6);
    padding: 6px 12px;
}

    .input-group-addon:first-child {
        font-size: 12px;
        line-height: 1;
        border-radius: 4px 0 0 4px;
        border-right: 0;
    }

    .input-group-addon:last-child {
        border-radius: 0 4px 4px 0;
        border-left: 0;
    }

.search {
    background: #fff;
    border: none;
    padding: 6px;
    width: 100%;
    height: 16px;
}

.swiper-pagination-bullet {
    opacity: .35;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.top-list {
    background-color: #fff;
    margin-top: -5px;
    border-bottom: 1px solid #d8d8d8;
}

    .top-list .icon {
        width: 47px;
        height: 47px;
        display: block;
        margin: 10px auto;
    }

    .top-list span {
        display: block;
        text-align: center;
        font-size: 13px;
        color: #666666;
        margin-bottom: 15px;
    }

    .top-list .badge {
        background-color: #fff;
        border: 1px solid #ff626e;
        color: #ff626e;
        font-size: 8px;
    }

    .top-list ul {
        margin: 0;
        padding: 0;
    }

        .top-list ul li {
            list-style: none;
            padding: 0;
            height: 40px;
            line-height: 40px;
            margin: auto 10px;
            border-top: 1px solid #e8e8e8;
        }

            .top-list ul li.msg-top {
                background: url(../img/icon/msg-title.png) no-repeat left center;
                background-size: 73px 23px;
                padding-left: 85px;
                font-size: 14px;
                color: #333333;
                overflow-y: hidden;
            }

                .top-list ul li.msg-top a {
                    color: #333333;
                    display: block;
                }

.card-product {
    border-top: 1px solid #d8d8d8;
    background-color: #fff;
    padding: 0 10px;
}

    .card-product .title {
        width: 100%;
        height: 43px;
        line-height: 43px;
    }

        .card-product .title h3 {
            margin: 0;
            display: inline-block;
            color: #323232;
            font-size: 15px;
            position: relative;
            padding-left: 10px;
            font-weight: normal;
        }

            .card-product .title h3:before {
                content: "";
                position: absolute;
                height: 15px;
                width: 3px;
                background-color: #06c1ae;
                left: 0px;
                top: 14px;
            }

        .card-product .title a {
            float: right;
            margin-right: 10px;
            font-size: 14px;
            color: #666666;
        }

            .card-product .title a .icon {
                background-color: #06c1ae;
                border-radius: 3px;
                margin-top: -6px;
            }

.card-item {
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding: 10px;
    text-align: center;
    position: relative;
}

.card-product li:nth-of-type(2n) .card-item {
    border-right: none;
}

.card-product li:nth-of-type(2n+1) .card-item {
    padding-left: 0px;
}

.card-product li:nth-of-type(2n) .card-item {
    padding-right: 0px;
}

.card-product li:nth-of-type(1) .card-item,
.card-product li:nth-of-type(2) .card-item {
    padding-top: 0;
}

.card-item img {
    text-align: center;
    vertical-align: middle;
}

.card-item .item-media {
    position: relative;
    padding-bottom: 10px;
}

.card-item .caption {
    font-size: 13px;
    color: #333333;
}

    .card-item .caption p {
        margin: 0;
        text-align: left;
        padding-left: 5px;
        line-height: 21px;
    }

        .card-item .caption p.p-title {
            line-height: 21px;
            height: 42px;
            overflow: hidden;
        }

        .card-item .caption p:after {
            content: " ";
            display: block;
            clear: both;
            -ms-zoom: 1;
            zoom: 1;
        }

        .card-item .caption p span.price {
            color: #ff5000;
            font-size: 14px;
            font-weight: bold;
        }

            .card-item .caption p span.price > em {
                font-style: normal;
                font-size: 10px;
            }

        .card-item .caption p span.stock {
            font-size: 11px;
            color: #a4a4a4;
            float: right;
        }

.tabbar-labels .icon {
    width: 21px;
    height: 21px;
}

.tabbar a {
    color: #888;
}

    .tabbar a.active {
        color: #35b8ae;
    }

.badge.bg-red {
    background-color: #ff5b45;
    margin-left: -5px;
    font-size: 8px;
}

.mybadge {
    position: absolute;
    left: 100%;
    margin-left: -5px;
    top: 3px;
    font-size: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ff5b45;
}

/*商品卡片*/
.card-navbar {
    background-color: #fbfbfb;
}

    .card-navbar .search {
        border: 1px solid #cccccc;
        border-left: none;
        border-right: none;
    }

    .card-navbar .input-group-addon:first-child {
        border: 1px solid #cccccc;
        border-right: none;
    }

    .card-navbar .input-group-addon:last-child {
        border: 1px solid #cccccc;
        border-left: none;
    }

.search-product {
    position: relative;
}

.search-item {
    position: absolute;
    left: 30px;
    top: -2px;
}

    .search-item span {
        background: #999999;
        border-radius: 4px;
        padding: 0px 6px;
        height: 19px;
        line-height: 19px;
        color: #fff;
        font-size: 11px;
    }

        .search-item span .icon {
            display: inline-block;
            margin-left: 5px;
            margin-top: -4px;
        }

.card-navbar .subnavbar {
    background-color: #fbfbfb;
}

.card-navbar .buttons-row .button:first-child,
.card-navbar .buttons-row .button:last-child {
    border-radius: initial;
}

.card-navbar .buttons-row .button {
    color: #666666;
    font-size: 15px;
    border: none;
}

.card-navbar .button.active {
    color: #06c1ae;
    background: transparent;
}

.card-navbar .button .icon {
    display: inline-block;
}

.product-badge {
    position: absolute;
    bottom: 10px;
    right: 0px;
}

    .product-badge span {
        display: inline-block;
        width: 38px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        opacity: .9;
        font-size: 12px;
    }

        .product-badge span.bg-1 {
            background-color: #dd9467;
        }

        .product-badge span.bg-2 {
            background-color: #d13b4b;
        }

.product-list.list-block.media-list .item-link .item-title-row {
    padding-right: 0;
}

.product-list.list-block .item-media {
    position: relative;
}

.product-list .item-text {
    font-size: 14px;
    color: #333;
}

.product-list .item-subtitle {
    font-size: 14px;
    color: #999;
    line-height: 21px;
}

    .product-list .item-subtitle.price {
        color: #ff5000;
        font-weight: bold;
        margin-top: 6px;
    }

        .product-list .item-subtitle.price em {
            font-style: normal;
            font-size: 11px;
        }

    .product-list .item-subtitle.stock {
        font-size: 11px;
    }

.phone-mall {
    display: inline-block;
    border: 1px solid #f5716e;
    border-radius: 3px;
    font-size: 11px;
    font-weight: normal;
    color: #f5716e;
    height: 16px;
    line-height: 16px;
    padding-right: 4px;
}

    .phone-mall .icon {
        border-radius: 0;
        margin-right: 4px;
    }

.product-list .add-cart-btn {
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url(../img/icon/add-cart-btn.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #06c1ae;
}

.product-list.list-block .item-inner:after {
    height: 0;
}

.product-list.list-block li:after {
    content: "";
    height: 1px;
    background-color: #e0e0e0;
    left: 10px;
    right: 10px;
    position: absolute;
}

.product-list.list-block li:last-child:after {
    height: 0;
}

/*category*/
.category-tab {
    float: left;
    width: 90px;
    min-width: 90px;
    overflow-y: auto;
    min-height: 100%;
    background: #f3f4f6;
}

.category-content {
    width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -ms-calc(100% - 90px);
    width: calc(100% - 90px);
    float: right;
    height: 100%;
    background-color: #fff;
}

    .category-tab ul,
    .category-tab li,
    .category-content ul,
    .category-content li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }

    .category-content ul {
        padding-top: 10px;
    }

.category-tab ul {
    width: 90px;
}

.category-tab li {
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #f3f4f6;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}


    .category-tab li a {
        display: inline-block;
        width: 100%;
        line-height: 24px;
        text-decoration: none;
        font-size: 13px;
        color: #333333;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .category-tab li.cur {
        border-right: 1px solid #fff;
        background: #fff;
        border-left: 2px solid #06c1ae;
    }

        .category-tab li.cur a {
            border-right: 1px solid #fff;
            background: #fff;
            color: #06c1ae;
        }

        .category-tab li.cur.hot {
            border-left: 2px solid #ff626e;
        }

            .category-tab li.cur.hot a {
                color: #ff626e;
            }

#category_wapper {
    overflow: hidden;
}

    #category_wapper ul {
        -webkit-transition: translateY 0.2s ease-out;
    }

.category-content .category-div,
.category-content .category-hot {
    margin: 0 13px 0 13px;
}

.category-content h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 1em;
    color: #888;
}

.category-div ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.category-div p {
    font-size: 13px;
    color: #333333;
}

.category-div ul {
    margin-bottom: 10px;
}

    .category-div ul li {
        width: 32%;
        height: 44px;
        line-height: 44px;
        margin: 0;
        float: left;
        border: 1px solid #e5e5e5;
        margin-top: -1px;
        margin-right: -1px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;
    }

.category-div li:nth-of-type(3n+1) {
    margin-left: 0;
}

.category-div li:nth-of-type(3n) {
    margin-right: 0;
}

.category-div li a {
    color: #666666;
}
/*===========category-hot==========*/
.category-hot li {
    width: 30%;
    margin: 5px 2.5%;
    height: 90px;
    float: left;
    text-align: center;
}

    .category-hot li:nth-of-type(3n+1) {
        margin-left: 0;
    }

    .category-hot li:nth-of-type(3n) {
        margin-right: 0;
    }

.category-hot a {
    text-decoration: none;
    color: #252525;
}

.category-hot img {
    border: 0;
}

.category-hot span {
    font-size: 12px;
    display: block;
    margin: 5px 0 9px;
    line-height: 1.1em;
    height: 1.1em;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #666666;
}

.category-hot:after {
    content: "";
    display: inline-block;
    height: 0;
    width: 100%;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.category-hot .button {
    border-color: #ff626e;
    color: #ff626e;
    font-size: 15px;
    line-height: 38px;
    height: 40px;
}

.category-hot .title {
    text-align: center;
    position: relative;
    font-size: 13px;
    color: #333333;
}

    .category-hot .title:before,
    .category-hot .title:after {
        content: " ";
        position: absolute;
        height: 1px;
        background-color: #e0e0e0;
        top: 50%;
        width: 28%;
    }

    .category-hot .title:before {
        left: 4%;
    }

    .category-hot .title:after {
        right: 4%;
    }

/*welcome*/
.login-welcome {
    background: #fff url(../img/welcome-bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    z-index: 99999;
}

    .login-welcome p {
        position: absolute;
        bottom: 20px;
        font-size: 12px;
        color: #999;
        text-align: center;
        width: 100%;
    }

.login {
    background: url(../img/login-bg.png) no-repeat center center;
    background-size: 100% 100%;
}

    .login .login-content {
        width: 80%;
        margin: 70px auto;
    }

.login-logo {
    text-align: center;
    margin-bottom: 55px;
}

    .login-logo img {
        width: 78px;
        height: 78px;
    }

.login-form .item-content {
    border: 1px solid rgba(204,204,204,.5);
    background-color: #fff;
    border-radius: 6px;
    padding-left: 10px;
    margin-top: 15px;
}
/*输入框未输入时文字颜色*/
.login-form ::-webkit-input-placeholder { /* WebKit browsers */
    color: #cccccc;
    font-size: 15px !important;
}

.login-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cccccc;
    font-size: 15px !important;
}

.login-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cccccc;
    font-size: 15px !important;
}

.login-form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #cccccc;
    font-size: 15px !important;
}

.login-form input {
    color: #333333;
    font-size: 15px !important;
}

.value-clear {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-top: -7px;
    background-color: #cccccc;
    line-height: 0;
    text-align: center;
    padding-top: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.login-content .button.active {
    background: #06c1ae;
    border-color: #06c1ae;
}

.forgetPwd {
    text-align: right;
    margin-top: 15px;
}

    .forgetPwd a {
        color: #fff;
        font-size: 14px;
    }

/*购物车*/
.cart-page .center {
    font-size: 16px;
}

.cart-page .right a {
    color: #06c1ae;
    font-size: 15px;
}

.cartNew-list {
    padding-bottom: 44px;
}

    .cartNew-list.list-block > ul {
        background: #efefef;
    }

    .cartNew-list.list-block li {
        padding-bottom: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-bottom: 1px solid #d8d8d8;
    }

    .cartNew-list.list-block .item-content {
        padding-left: 0;
    }

    .cartNew-list.list-block .item-media {
        padding-left: 7px;
    }

    .cartNew-list.list-block .item-text {
        color: #333333;
        font-size: 14px;
    }

    .cartNew-list.list-block .item-subtitle {
        color: #666666;
        font-size: 12px;
        margin-top: 3px;
    }

.promo-type {
    display: inline-block;
    min-width: 15px;
    height: 15px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    margin: auto 3px;
}

    .promo-type.col-1 {
        background-color: #f5716e;
    }

    .promo-type.col-2 {
        background-color: #39c2aa;
    }

    .promo-type.col-3 {
        background-color: #ff9900;
    }

label.label-checkbox i.icon-form-checkbox {
    width: 20px;
    height: 20px;
    background: #fff url(../img/icon/check-bg.png) no-repeat -1px -2px;
    background-size: 20px 20px;
    border-color: #cccccc;
}

label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox {
    background: #08c1af !important;
}

.cartNew-list.list-block ul ul {
    padding-left: 0;
    margin-right: 10px;
    overflow: hidden;
}

    .cartNew-list.list-block ul ul > li {
        margin-top: 5px;
        padding-bottom: 0px;
        border: none;
    }

    .cartNew-list.list-block ul ul .item-inner {
        background-color: #f9f9f9;
        margin-left: 7px;
        padding-left: 10px;
        font-size: 12px;
        color: #333333;
    }

        .cartNew-list.list-block ul ul .item-inner span {
            color: #999;
        }

            .cartNew-list.list-block ul ul .item-inner span.price {
                font-size: 13px;
                color: #ff5000;
            }

        .cartNew-list.list-block ul ul .item-inner input {
            width: 40px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            color: #666666;
            font-size: 13px;
            display: inline-block;
            position: relative;
            top: 2px;
        }

        .cartNew-list.list-block ul ul .item-inner .item-title {
            padding-top: 7px;
            width: 50%;
        }

    .cartNew-list.list-block ul ul .edit-status {
        padding: 5px;
        padding-right: 25px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-image: url("../img/icon/arrow-down.png");
        background-repeat: no-repeat;
        background-position: 96% center;
        background-size: 8px 4px;
        background-color: #fff;
    }

    .cartNew-list.list-block ul ul input.edit-status {
        border: none;
        background-image: none;
        background-color: transparent;
        text-align: right;
        padding-right: 0;
    }

.cart-page .bottom-bar {
    position: fixed;
    bottom: 49px;
    height: 49px;
    line-height: 24px;
    background: #f5f5f5;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    font-size: 12px;
    color: #666666;
}

.hide {
    display: none !important;
}

.item-price {
    width: 50%;
    text-align: right;
}

   .cart-page .item-price i.icon {
        border: 1px solid #ffc56a;
        width: 25px;
        height: 25px;
        background-color: #FFFFFF;
        border-radius: 3px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.cart-page .bottom-bar.row {
    margin-left: 0px;
}

.cart-page .bottom-bar label div {
    display: inline-block;
    font-size: 13px;
    margin-left: 7px;
    color: #333333;
}

    .cart-page .bottom-bar label div + div {
        margin-left: 0px;
    }

.cart-page .bottom-bar .button,
.cart-page .bottom-bar .cart-btn-delete {
    font-size: 15px;
    margin: 5px auto;
    background: #ff9e06;
    color: #fff;
    height: 36px;
    line-height: 36px;
}

.cart-page .bottom-bar .cart-btn-collection {
    display: none;
    background: #FFF;
    border-color: #ff9e06;
    color: #ff9e06;
}

.cart-page .bottom-bar .cart-btn-delete {
    display: none;
}

.cart-page .bottom-bar .cart-btn-submit.edit-status {
    display: none;
}

.cart-page .bottom-bar .cart-btn-collection.edit-status {
    display: block;
}

.cart-page .bottom-bar .cart-btn-delete.edit-status {
    display: block;
}

.cart-page .bottom-bar .label-checkbox {
    line-height: 49px;
}

.cart-page .bottom-bar .sum-price {
    text-align: right;
    padding-right: 10px;
}

    .cart-page .bottom-bar .sum-price.edit-status {
        display: none;
    }

    .cart-page .bottom-bar .sum-price .sum-price-c {
        color: #ff5000;
        font-size: 15px;
        font-weight: bold;
    }

    .cart-page .bottom-bar .sum-price .count {
        color: #999999;
    }

/*详情页*/
.detail-page {
}

    .detail-page .swiper-slide {
        height: 320px;
        text-align: center;
        vertical-align: middle;
        line-height: 320px;
    }

        .detail-page .swiper-slide img {
            text-align: center;
            vertical-align: middle;
            text-align: center;
        }

.detail-title {
    background: url(../img/detail-title-bg.png) repeat-x left bottom;
    background-size: 9px 3px;
    padding-bottom: 3px;
}

    .detail-title .item-after span {
        border-right: 1px solid #dddddd;
        font-size: 11px;
        margin-left: 10px;
        padding-right: 10px;
        color: #666666;
    }

        .detail-title .item-after span:last-child {
            border-right: none;
            padding-right: 0;
        }

        .detail-title .item-after span .icon {
            display: block;
            clear: both;
            margin: 0 auto;
        }

    .detail-title .item-inner {
        padding: 7px;
    }

        .detail-title .item-inner .item-text {
            font-size: 15px;
            color: #333333;
        }

        .detail-title .item-inner .item-subtitle {
            font-size: 14px;
            color: #999999;
        }

        .detail-title .item-inner .item-title .red-col {
            color: #ff5000;
        }

            .detail-title .item-inner .item-title .red-col em {
                font-size: 13px;
                font-style: normal;
            }

        .detail-title .item-inner .item-title del,
        .detail-title .item-inner .store {
            font-size: 12px;
            color: #999999;
        }

        .detail-title .item-inner .store {
            margin-top: 30px;
        }

        .detail-title .item-inner p {
            display: inline-block;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            width: 80%;
            font-size: 13px;
            line-height: 12px;
            color: #666;
        }

.item-inner.bg-arrow {
    background: url(../img/icon/arrow-right.png) no-repeat 96% center !important;
    background-size: 8px 14px !important;
}

.detail-title .item-inner .promotion-date {
    font-size: 11px;
    color: #999999;
    margin-left: 53px;
}

.detail-suk {
    margin-top: 10px;
    margin-bottom: 0;
}

    .detail-suk .item-title {
        font-size: 14px;
        color: #333333;
    }

    .detail-suk .item-content {
        position: relative;
    }

        .detail-suk .item-content:after {
            content: "";
            position: absolute;
            width: 94%;
            bottom: 0;
            left: 10px;
            height: 1px;
            background-color: #e5e5e5;
        }

.detail-tip {
    text-align: center;
    font-size: 12px;
    color: #999999;
}


.tab-content {
    margin-top: 15px;
    border-top: 1px solid #e1e1e1;
}

/*tab部分*/
.tabbar-u {
    padding: 0;
    height: 45px;
    background: #FFFFFF;
    border-bottom: 1px solid #e1e1e1;
}

    .tabbar-u .button,
    .tabbar-u .button:first-child {
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 45px;
        line-height: 45px;
        color: #999999;
    }

        .tabbar-u .button.active {
            border: none;
            border-bottom: #32A075 solid 2px;
            background: none;
            border-radius: 0;
            color: #32A075;
            padding-bottom: 2px;
        }

.tab .list-block ul:before {
    height: 0;
}

.argument .item-title,
.argument .item-after {
    width: 40%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #666666;
    font-size: 15px;
}

.argument .item-after {
    width: 60%;
}

.argument .item-title {
    white-space: normal;
    overflow: auto;
}

.argument .item-after {
    color: #222222;
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    white-space: normal;
    display: inline-table;
}

/*商品详情弹出层*/
.popup-prodSUK {
    top: 20%;
    height: 80%;
    overflow: visible;
}

    .popup-prodSUK > .content-block {
        padding: 0 15px;
        position: relative;
        height: 99%;
    }

    .popup-prodSUK .p-close {
        text-align: right;
        margin: 0;
        position: relative;
        z-index: 999999;
    }

.popup-top {
    position: relative;
    z-index: 1;
    background: #fff;
}

.popup-img {
    position: absolute;
    top: -50px;
}

    .popup-img img {
        width: 115px;
        height: 115px;
        float: left;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.popup-top .title-row {
    padding-left: 120px;
}

.popup-top .title {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.popup-top .subtitle {
    font-size: 13px;
    color: #666666;
    margin-top: 10px;
}

.popup-number {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

    .popup-number dl {
        float: left;
        width: 33%;
    }

        .popup-number dl dt {
            font-size: 12px;
            color: #666666;
        }

        .popup-number dl dd {
            font-size: 17px;
            color: #FF5000;
        }

            .popup-number dl dd em {
                font-size: 12px;
                font-style: normal;
            }

.popup-attrs {
    padding: 10px;
    color: #666666;
}

    .popup-attrs p {
        margin: 0;
        line-height: 21px;
        font-size: 14px;
        color: #333333;
    }

        .popup-attrs p > span {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
        }

    .popup-attrs > div {
        line-height: 35px;
        text-align: center;
        margin-bottom: 15px;
    }

    .popup-attrs .attrItem {
        float: left;
        position: relative;
        height: 30px;
        line-height: 30px;
        margin: 3px 0px;
        margin-right: 10px;
    }

        .popup-attrs .attrItem input[type=radio] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 999;
        }

        .popup-attrs .attrItem span {
            width: 100%;
            height: 100%;
            text-align: center;
            color: #696969;
            border: 1px solid #d7d7d7;
            border-radius: 3px;
            z-index: 1;
            font-size: 14px;
            padding: 3px 10px;
        }

        .popup-attrs .attrItem input[type=radio]:checked + span {
            border: 1px solid #ffc56a;
            width: initial;
            color: #ff8a02;
        }

    .popup-attrs .numberManage {
        text-align: left !important;
        margin-top: 5px;
    }

        .popup-attrs .numberManage .icon {
            width: 30px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid #ffc56a;
            display: inline-block;
            margin-top: -1px;
        }

            .popup-attrs .numberManage .icon.disabled {
                border: 1px solid #d7d7d7;
                background-color: #f5f5f5;
            }

        .popup-attrs .numberManage .editControl {
            display: inline-block;
            width: 60px;
            height: 30px;
            border: 1px solid #d7d7d7;
            color: #666666;
            text-align: center;
            border-radius: 3px;
        }

.popup-content {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -webkit-transform-origin: 0px 0px 0px;
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
}

.popup-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 49px;
    line-height: 49px;
    background-color: #F5F5F5;
}

    .popup-bottom span {
        color: #ff5000;
        font-size: 17px;
        margin-left: 15px;
        font-weight: bold;
    }

        .popup-bottom span em {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
        }

    .popup-bottom .button {
        background-color: #FF9E06;
        display: inline-block;
        float: right;
        margin-top: 10px;
        margin-right: 15px;
        border-color: #ff9e06;
        color: #fff;
        font-size: 15px;
    }
