.rebate {
	background: #EFEFEF;
}

.rebate dl {
	height: 110px;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
}

.rebate dl>.icon {
	position: absolute;
	top: 10px;
	right: 10px;
}

.rebate dl dt {
	float: left;
	width: 40%;
	height: 100%;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	padding-top: 25px;
}

.rebate dl dt:after {
	content: "";
	position: absolute;
	top: 0;
	right: -3px;
	width: 7px;
	height: 110px;
	z-index: 3;
	background: url(../img/rebate-bg.png) no-repeat;
	background-size: 7px 110px;
}

.rebate dl dt h3 {
	font-size: 22px;
	color: #FFFFFF;
	font-weight: normal;
}

.rebate dl dt h3 em {
	font-size: 12px;
	font-style: normal;
}

.rebate dl dt p {
	margin: 0 auto;
	font-size: 13px;
	color: #FFFFFF;
}

.rebate dl.available dt {
	background-color: #20c2bc;
}

.rebate dl.unavailable dt {
	background-color: #cccccc;
}

.rebate dl .semicircle {
	position: absolute;
	width: 16px;
	height: 16px;
	background: #efefef;
	border-radius: 50%;
	left: -6px;
	top: 50%;
	margin-top: -8px;
}

.rebate dl dd {
	margin-left: 40%;
	height: 100%;
	background-color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}

.rebate dl dd .semicircle {
	right: -6px;
	left: auto
}

.rebate dl dd .choose {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/icon/choose-rebate.png) no-repeat left top;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}

.rebate dl dd p {
	margin: 0;
}

.rebate-title {
	font-size: 16px;
	color: #333333;
}

.rebate-con {
	font-size: 13px;
	color: #666666;
	line-height: 21px;
	height: 42px;
	margin-top: 10px !important;
}

.rebate-con input {
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: #F9F9F9;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	font-size: 23px;
	color: #999;
	text-align: center;
	margin: auto 3px;
}

.rebate-date {
	font-size: 11px;
	color: #FF5000;
	text-align: right;
}

.rebate-date>span {
	color: #666666;
}

.rebate dl.unavailable dd p {
	color: #999999 !important;
}

.rebate dl.active dd input {
	color: #333 !important;
}

.rebate dl.active dd .choose {
	background: url(../img/icon/choose-rebate-active.png) no-repeat left top;
	background-size: 30px 30px;
}

.rebate + .bottom-bar {
	bottom: 0px;
}

.rebate + .bottom-bar .button {
	background-color: #FF9E06;
	height: 36px;
	line-height: 36px;
}

.rebate + .bottom-bar span {
	font-size: 14px;
	color: #666666;
}

.rebate + .bottom-bar span.sum-rebate {
	color: #FF5000;
	font-size: 20px;
}