<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="cube-main menu" style="overflow:hidden" data-propertyname="<#=field#>" data-controltype="Catalog">
        <div style="position:absolute;float:left;background-color:white;height:100%;width:100%;min-width:293px;">
            <div class="title cube-main-header">
                <div class="dropdown" style="width: 100px; font-family: '微软雅黑 Regular', '微软雅黑'; font-size: 18px;" title="客户分类"></div>
                <div class="button" title="增加" data-propertyname="cardAction" data-controltype="ImageButton"><span class="add-icon"></span><span></span></div>
            </div>
            <div class="content">
                <div data-controltype="SearchBox">
                    <div class="cube-control-content">
                        <input type="text" placeholder="客户编码/客户名称/客户类型" />
                    </div>
                </div>
                <div class="accondion-wrapper">
                    <div class="accondion"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>
<field>
</field>
</html>