<html>
<head>
    <meta charset="utf-8">
    <title><#=title#></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href="./bootstrap/css/bootstrap.css" rel="Stylesheet" type="text/css" />
    <link href="./pc/css/modal.css" rel="stylesheet" />
    <link href="./pc/css/Cube.Form.css" rel="stylesheet" />
    <link href="./pc/css/Cube.Control.css" rel="stylesheet" />
    <link href="./pc/css/Cube.Tab.css" rel="stylesheet" />
    <link href="./pc/css/Cube.ToolBar.css" rel="stylesheet" />
    <link href="./pc/css/Cube.Icon.css" rel="stylesheet" />
    <#@LinkBuilder#>
</head>
<body>
    <#*(view:views){#>
	<div id="<#=name#>" class="container" data-title="<#=title#>" data-page="<#=appId#>" data-viewmodel="<#=viewModel#>">
        <div class="ui-head-content row">
            <div class="col-lg-8" data-propertyname="queryScheme" data-controltype="TabContent">
                <div class="cube-bar-open-container"></div>
                <div class="cube-bar-close-container"></div>
            </div>
            <div class="col-lg-1" data-propertyname="addschemeAction" data-controltype="ImageButton">
                <span class="add-icon"></span>
                <span></span>
            </div>                         
            <div class="col-lg-3" data-propertyname="expandAction" data-controltype="ImageButton">
                <span>展开查询条件</span>
                <span class="oc-open-icon"></span>
            </div>
        </div>
        <div class="ui-query-content row"></div>
        <div class="ui-form-content row">
            <div data-propertyname="leftToolbar" data-controltype="ToolBar" class="col-lg-8 cube-bar-modeltxt">
                <#*(container:containers)?(type==Toolbar) {#>
				    <#*(control:controls)?(isNavigate==null||isNavigate==false){#>
					    <li>
                            <#@ControlBuilder#>
                        </li>
				    <#}#>
			    <#}#>
            </div>
            <div data-propertyname="rightToolbar" data-controltype="ToolBar" class="col-lg-4 cube-bar-modelicon">
                <#*(container:containers)?(type==Toolbar) {#>
				    <#*(control:controls)?(isNavigate==true){#>
					    <li>
                            <#@ControlBuilder#>
                        </li>
				    <#}#>
			    <#}#>
            </div>
            <#*(container:containers)?(type==Grid) {#>
				<#*(control:controls){#>
                    <div class="grid-wrapper" style="height:500px;">
					    <#@ControlBuilder#>
                    </div>
				<#}#>
			<#}#>
        </div>
    </div>
    <#}#>
    <script src="./jquery/jquery-1.11.1.js" type="text/javascript"></script>
    <script src="./jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="./common/js/Animation.js" type="text/javascript"></script>
    <script src="./common/js/Cube.js" type="text/javascript"></script>
    <script src="./pc/js/modal.js" type="text/javascript""></script>
    <script src="./pc/js/cube.pc.js" type="text/javascript"></script>
    <script src="./common/js/Cube.bindings.js" type="text/javascript"></script>
    <script src="./common/js/Control.js" type="text/javascript"></script>
    <script src="./common/js/Button.js" type="text/javascript"></script>
    <script src="./common/js/ImageButton.js" type="text/javascript"></script>
    <script src="./common/js/ToolBar.js" type="text/javascript"></script>
    <script src="./pc/js/TabContent.js" type="text/javascript"></script>
    <script src="./common/js/TimeLine.js" type="text/javascript"></script>
    <script src="./common/js/CommonProxy.js" type="text/javascript"></script>
    <script src="./common/js/CommonCRUD.js" type="text/javascript"></script>
	<#@ScriptBuilder#>
    <script src="apps/<#=moduleName#>/<#=name#>_<#=screenSize#>.js" type="text/javascript"></script>
	<script src="apps/<#=moduleName#>/<#=name#>_Extend.js" type="text/javascript"></script>
	<script type="text/javascript">
	    <#*(view:views){#>
		cb.viewbinding.create("<#=name#>");
	    <#}#>
	</script>
</body>
</html>